body {
	background-color: rgb(42, 47, 66);
	padding: 0px 0px 0px 0px;
	color: rgb(255, 255, 255);
}

.light {
	background-color: rgb(54, 60, 82);
	border-radius: 10px;
	padding: 0px 10px 10px 10px;
	margin: 10px 0px 10px 0px;
	word-wrap: break-word;
}

.input {
	margin: 10px 0px 10px 0px;
}

label {
	margin: 10px 0px 10px 0px;
	font-weight: bold;
	font-size: 24px;
}

.vertical-center {
	min-height: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.btn {
	margin: 10px 0px 0px 0px;
}

.btn:focus {
   box-shadow: none;
}

p {
	margin: 10px 0px 0px 0px;
}

.light.message {
	margin: 10px 0px 0px 0px;
}

.modal-content {
	background-color: rgb(42, 47, 66);
	border-radius: 10px;
	color: rgb(255, 255, 255);
}

.modal-header {
	border-bottom: 2px solid rgb(54, 60, 82);
}

.modal-body {
	padding-bottom: 0px;
}

.modal-footer {
	border-top: 2px solid rgb(54, 60, 82);
	padding-top: 5px;
	margin-bottom: 0px;
}

table.table-bordered > thead > tr > th,
table.table-bordered > tbody > tr > td {
	border: 2px solid rgb(54, 60, 82);
}

.deletion {
	margin-top: 10px;
}

.modal-dialog.modal-dialog-centered {
	border-top: 0px;
	margin-top: 0px;
	margin-bottom: 15px;
	padding: 0px 0px 0px 0px;
}